.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}

.titleName {
  display: flex;
  align-items: center;
}

.titleName button {
  height: 25px;
  margin-left: 5px;
}

.active-filter {
  background-color: cornflowerblue;
  color: azure;
}

.error {
  border: 2px solid red;
  outline: transparent;
}

.error-message {
  color: red;
}
