.AddItemFormStyle {
  margin-top: 25px;
  margin-bottom: 25px;
}

.news {
  display: flex;
  align-items: center;
}

.login {
  display: flex;
  justify-content: space-between;
}

.titleName {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* .titleName button {
  height: 25px;
  margin-left: 5px;
} */

.active-filter {
  background-color: cornflowerblue;
  color: azure;
}

.error {
  border: 2px solid red;
  outline: transparent;
}

.error-message {
  color: red;
}

.is-done {
  opacity: 0.5;
}
